body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

h1, h2 {
    color: #f39c12;
}

#video-frame iframe {
    margin-top: 20px;
}
