body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.anime-item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #2d2d2d;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.anime-item:hover {
    background-color: #444;
}

.episodes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodes-list a {
    text-decoration: none;
    color: white;
    background-color: #2d2d2d;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.episodes-list a:hover {
    background-color: #444;
}

.player-select {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player-btn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.player-btn:hover {
    background-color: #555;
}

.video-player {
    text-align: center;
}
